
/* font, color */
body   {
   background: #ffffff;
   font-family:Helvetica, sans-serif;
   border-top: 15px solid #424242;
   margin: 0;

} 
/* margin space centering image and text */
main{
   margin: 0 auto;
   width: 800px;
}
/* evens out text for each section on html file & split text */
.details{
   display: flex;
   gap: 25px
}

.details section{
   flex-grow: 1;
   flex-basis: 0;
   background-color: #d7d4d4;
   padding: 25px;
   border-radius: 20px;
   margin-top: 25px;
}
/* image size */
img{
   width: 100%;
}
/* set margin for header */
h2{
   margin: 0 0 10px 0;

}
/* set margin for paragraph */
p{
   margin: 0;
   line-height: 1.4em;
   background-color: rgb(10, 10, 10);
}