
/* font, color */
body   {
   background: #ffffff;
   font-family:Helvetica, sans-serif;
   border-top: 15px solid #424242;
   margin: 0;
   color: #424242;

} 
/* margin space centering image and text */
main{
   margin: 0 auto;
   width: 800px;
   
}
.masthead{
   background-image: url(images/Computer\ image.png);
   background-size: cover;
   background-position: bottom;
   height: 250px;
   border-radius: 20px;
}
/* evens out text for each section on html file & split text */
.details{
   display: flex;
   gap: 25px
}

.details section{
   flex-grow: 1;
   flex-basis: 0;
   background-color: #d7d4d4;
   border-radius: 20px;
   margin-top: 25px;
}
.details section p{
   margin: 20px;  
}
.details section h2{
   margin: 20px;
}
.details section.with-code{
   padding: 0;
   

}

div.code-html{
   padding: 25px;
   background: #424242;
   color: white;
   border-bottom-right-radius: 20px;
   border-bottom-left-radius: 20px;
}
/* image size */
img{
   width: 100%;
}
/* set margin for header */
h2{
   margin: 0 0 10px 0;

}
/* set margin for paragraph */
p{
   margin: 0;
   line-height: 1.4em;
}
/* logo */
h1{
   background-image: url(images/Logo.png);
   background-repeat: no-repeat;
   background-size: 35px;
   background-position: center left;
   font-size: 3em;
   padding-left: 50px;
   margin: 100px 0 25px 0;
}
